* {
    margin-top: 1em;
}

#searchContainer {
    height:fit-content;
}

#header {
    text-align: center;
}

#dropdown li input[type="radio"] {
    opacity:0;
}
#dropdown li input:checked ~ label {
    font-weight: bolder;
}